<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droi.film">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.droi.sdk.application_id"
            android:value="eixvmbzhXwiTTWsLH1UO6NSDP3znAcLPlQDV8_4V" />

        <meta-data
            android:name="com.droi.sdk.platform_key"
            android:value="hmTwMTai_2ckrNKfuH_P-pgA_f5nJ1rP-pgA_f5n" />
        <meta-data
            android:name="com.droi.sdk.channel_name"
            android:value="DROI_CHANNEL1" />
        <meta-data
            android:name="com.droi.sdk.secret_key"
            android:value="fntas5jk" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FilmDetailActivity" />
    </application>

</manifest>